name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Asia/Shanghai
          token: ${{ secrets.PERSONAL_PROFILE }}
          plugin_languages: yes
          plugin_stars: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          config_display: large
          config_order: isocalendar, languages, stars
